<div class="page-banner">
  <img src="/images/my-profile-banner.png"/>
  <label>My Profile</label>
  <br/>Share your plans and information with friends and family.
  With my legacy Plan, you control who has access to what information and
  how they can access the information.
</div>

<div class="edit-profile">
  <div class="sections">
    <div class="section" id="sub-menu-profile">My Profile</div>
    <div class="section inactive" id="sub-menu-family">My Family</div>
    <div class="section last inactive" id="sub-menu-friends">My Friends</div>
  </div>


  <div class="sub-menu-content" id="profile">
    <%= render :partial => 'profile' %>
  </div>

  <div class="sub-menu-content hidden" id="family">
    <%#= render :partial => 'fnf_form', :locals => { :type => 'family'} %>
  </div>

  <div class="sub-menu-content hidden" id="friends">
    <%#= render :partial => 'fnf_form', :locals => { :type => 'friends'} %>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.section').bind('click', function(){
      var id = $(this).attr('id');
      id = id.replace('sub-menu-','')
      $('.sub-menu-content').hide();
      $('#'+id).show();

      $('.section').removeClass('inactive');
      $('.section').addClass('inactive');
      $(this).removeClass('inactive');
    });
  });
</script>