<%= render :partial => 'shared/body_content_top_without_menu',
  :locals => { :title => 'Dashboard',
  :heading => 'Comprehensive plan overview'} %>

<div class="content-container">
  <h3>Medical &nbsp;&nbsp;- <%= link_to("Start", agreement_medical_instructions_path)%></h3>
  <h3>Memorial - <%= link_to("Start", new_memorial_path())%></h3>

  <h3>
    <%= link_to "Share My Plan", plan_sharing_rules_path(current_user.default_plan) if current_user.present? %>
  </h3>
</div>