<div id="how-it-works">
  <div id="banner-outer-container">
    <div id="banner-container">
      <div class="banner">
        <div class="content">
          <span class="left">“</span>Creating a legacy plan was easy & now all our end of life
          wishes are in one place.<span>”</span>
          <div class="description">
            A Legacy plan clarifies your wishes and provides instructions
            so your loved ones know what you want if the event of an untimely passing.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="body-container">
    <div class="body">
      <div class="main-content">
      </div>
    </div>
  </div>
</div>