<%#= link_to(image_tag('/images/get-started.jpg'), publics_plan_path()) -%>
<div id="text">
  <div class="guid_text">Guide</div>
  <textarea class="guid_field"> </textarea>
</div>

<div id="content_info">
  <div style=" margin-bottom: 10px; color: #0071bc;  font-size: 18px;">Are you creating a plan for yourself or
    for a loved one?
  </div>

  <div style="display: inline-block">
    <div class="image">
      <img src="images/myself.png"/> <br/>
      <span> Myself </span>
    </div>
    <div class="selected_image">
      <img src="images/myself.png" style="border: solid 4px #0071bc;"/> <br/>
      <span> Loved one </span>
    </div>
    <div class="field_form">
      <input type="text" name=" " id="first_name" value="" placeholder="First Name" size="10"/>
      <input type="text" name=" " id="last_name" value="" placeholder="Last Name" size="10"/>

      <div style="margin: 5px 0;">
        <input type="text" name=" " id="email_address" value="" placeholder="Email Address" size="24"/>
      </div>
      <div style="margin: 5px 0;">
        <input type="text" name=" " id="relationship" value="" placeholder="Relationship" size="24"/>
      </div>
    </div>
  </div>

  <div style=" margin-top: 58px; color: #0071bc; font-size: 18px;">Where do you want to get started?</div>
  <div class="get-started-tips" style="display: inline-block">
    <ul>
      <li>
        <img src="images/medical_directives_icon.png"/> <%= link_to("Medical directives", new_medical_instruction_path(), :id => "medical_directives_link") -%>
      </li>
      <li><img src="images/memorial_icon.png"/> <a herf="">Memorial</a></li>
      <li><img src="images/my_things.png"/> <a herf="">My things</a></li>
      <li><img src="images/fanincial.png"/> <a herf="">Financial</a></li>
      <li><img src="images/gaurdianship.png"/> <a herf="">Guardianship</a></li>
      <li><img src="images/will_and_trust.png"/> <a herf="">Will and Trust</a></li>
    </ul>
  </div>

  <div style="display: inline-block">
    <ul style="list-style-type: none; vertical-align:top;font-size: 16px;">
      <li style="padding:0.5em;">make important medical decisions before its too late</li>
      <li style="padding:0.5em; ">plan aspects of your memorial service ahead of time</li>
      <li style="padding:0.5em;"> organize you assets and gifting</li>
      <li style="padding:0.5em;">store important acount information</li>
      <li style="padding:0.5em;">set up guardianship for your children and pets</li>
      <li style="padding:0.5em;">create legally binding documents</li>
    </ul>
  </div>

</div>

<script type="text/javascript">
  $("#medical_directives_link").click(function(){
      //alert($(this).attr('href'));
      document.location.href = $(this).attr('href') + "?first_name=" + $("#first_name").val() + "&last_name=" + $("#last_name").val() +
              "&email_address=" + $("#email_address").val() + "&relationship=" + $("#relationship").val();
      return false;
  });
</script>