<h2>Comprehensive plan overview</h2>
<h3>Medical &nbsp;&nbsp;- <%= link_to("Start",new_medical_instruction_path())%></h3>
<h3>Memorial - <%= link_to("Start", new_memorial_path())%></h3>

<h3>
  <%= link_to "Share My Plan", plan_sharing_rules_path(current_user.default_plan) %>
</h3>
