body
{
    font-family: "Myriad Pro", "Helvetica";
    margin: 0px;
}

body a:hover{
    background-color: transparent;
}

.clear{
    clear: both;
}

.hidden{
    display: none;
}

.transparent{
    background-color: transparent;
}


#container
{
    width: 100%;
    background-color: #D3DDDC;

}

#header-container{
    width: 100%;
    background: url('/images/header_bg.png');
    height: 80px;
    border-bottom: 1px solid #fff;
}

#header
{
    width: 960px;
    height: 80px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
}

#header .logo{
    float:left;
}

#header .header-top-menu{
    float:left;
    margin-left: 30px;
    padding-top: 40px;
}

#header .header-top-menu .menu{
    float:left;
    margin-right: 2px;
}


#header .header_right
{
    float:right;
    height: 80px;
    background: url('/images/header_bg.png');
}

#header .header_right .logged{
    float: left;
    border: 2px solid #666;
    background-color: #888;
    margin-right: 5px;
    margin-top: 42px;
    height: 22px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    border-radius: 2px;
}

#header .header_right .logout{
    height: 40px;
    background: url('/images/logout_back.png');
    padding: 40px 7px 0px 7px;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    float: right;
}

#container .top-banner{
    background: url('/images/body_top_banner_bar.png');
    width: 1280px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
}

#body-container{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#body-container .flash{
    position: absolute;
    text-align: center;
    width: 960px;
    margin-top: -30px;
    font-size: 17px;
}


#body-container .left-side-panel{
  float: left;
  width: 257px;
  position: relative;
  z-index: 0;
}

#body-container .left-side-panel .right-shadow{
    background: url('/images/sidebar_shadow.png');
    width: 22px;
    height: 695px;
    position: absolute;
    right: -2px;
    top: 10px;
}


#body-container .left-side-panel .user-name{
    font-family: verdana;
    font-weight: bold;
    font-size: 14px;
    color: #0e6297;
    height: 38px;
    padding-top: 10px;
    padding-left: 2px;
}

#body-container .left-side-panel .left-menu-container{
    border-top: 1px solid #AAB2B2;
}

#body-container .left-side-panel .menu{
   border-left: 1px solid #BDC6C6;
   border-top: 1px solid #E9EEEE;
   border-bottom: 1px solid #AAB2B2;
   height: 44px;
   width: 258px;
}

#body-container .left-side-panel .menu:hover{
    background: url('/images/left_panel_menu_hover.png');
    cursor: pointer;
}

#body-container .left-side-panel .menu .icon{
    padding-top: 5px;
    width: 50px;
    padding-left: 10px;
    float: left;
}

#body-container .left-side-panel .menu .link{
    float: left;
    margin-top: 12px;
}

#body-container .left-side-panel .menu .link a{
    font-family: verdana;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

#body-container .body-content{
 float: right;
 width: 703px;
 z-index: 1;
}

#body-container .body-content .title-container{
    height: 164px;
    background: url('/images/content_title_container.png');
}

#body-container .body-content .title-container .row-1{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 30px;
    height: 33px;
}

#body-container .body-content .title-container .row-1 .title{
    font-family: "Lustria";
    font-size: 24px;
    color: #fff;
    float: left;
}

#body-container .body-content .title-container .row-1 .tips{
    float: right;
}

#body-container .body-content .title-container .row-1 .tips .link{
    float: left;
    margin-right: 5px;
}

#body-container .body-content .title-container .row-1 .tips .link a{
    font-family: Arial;
    font-size: 10px;
    color: #fff;
}

#body-container .body-content .title-container .row-1 .tips .icon{
    float: right;
}

#body-container .body-content .title-container .row-2{
  padding-top: 35px;
}

#body-container .body-content .title-container .row-2 .content{
  float: left;
  font-family: OpenSans;
  font-size: 18px;
  color: #065c92;
  margin-left: 20px;
  padding-top: 5px;
}

#body-container .body-content .title-container .row-2 .menu-container{
    float: right;
    margin-right: 25px;
}

#body-container .body-content .title-container .row-2 .menu-container .menu{
    float: left;
    margin-left: 5px;
}

#body-container .body-content .content-container{
    padding: 20px;
    margin-left: 2px;
    width: 660px;
    background-color: #fff;
}


#container .footer{
  text-align: center;
  border: 1px solid red;
}


.field_form
{
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.field{
    margin-bottom: 10px;
}

.new_medical_instructions .field label{
    width: 120px;
    display: inline-block;
}

input, textarea, select
{
    border: solid 1px #CCCCCC;
    padding: 4px;
}

input[type=submit]
{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 5px 10px;
}

#content
{
    background-color: #e3e3e3;
    height: 600px;
    padding: 15px;
}

.content_left
{
    display: inline-block;
    background-color: #f2f2f2;
    margin-right:15px;
    width: 152px;
    height:auto;
    vertical-align: top;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid white;
}

.content_left ul.menu{
    list-style-type: none; padding: 0px;font-size: 12px;
}

.content_left ul.menu li{
    padding:0.5em;
}

.content_left ul.menu li a{
    vertical-align: text-bottom;
    text-decoration: none;
}

.content_left ul.menu li a:hover{
    text-decoration: underline;
}

.guid_text
{
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    font-family: 'Myriad Pro';
    font-size: 21px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 90px;
}

.guid_field
{
    border: 0 none;
    font-family: 'Myriad Pro';
    font-size: 21px;
    height: 92px;
    margin-left: 15px;
    resize: none;
    width: 500px;
}

.image
{
    margin-right: 64px;
    margin-left: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: super;
}
.selected_image
{
    margin-right: 64px;
    display: inline-block;
    text-align: center;
    boder:solid 2px green;

}


#content_main
{
    display: inline-block;
    background-color: #f2f2f2;
    width: 600px;
    height: auto;
    vertical-align:top;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 25px;
    vertical-align:top;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 1px 1px 12px 2px #888888;

}

#text
{

    height: 141px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 0px 1px 1px #888888;
    margin-bottom: 50px;

}

#content_info
{
    height: auto;
    padding: 10px;
    background-color: #ebe6e1 ;
    vertical-align:top;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#content_info .title{
    margin-bottom: 10px;
    color: #0071bc;
    font-size: 18px;
}


#content_info .form-container{
    display: inline-block;
    height: 205px;   /* fixed height is used to make stable size, when relationship text field will be hide */
}

#content_info .form-container .image{
}

#content_info .form-container .image img.selected{
    border: solid 4px #0071bc;
    cursor: default;
}

#content_info .form-container .image img.normal{
    border: solid 4px #ebe6e1;
    cursor: pointer;
}

#content_info .form-container .image img.normal:hover{
    border: solid 4px #0071bc;
}

.get-started-tips .title{
    margin-top: 58px;
    color: #0071bc;
    font-size: 18px;
}

.get-started-tips ul{
    list-style-type: none;padding: 0px;font-size: 16px;
}

.get-started-tips ul li{
    padding:0.5em;
}

.get-started-tips ul li .tips-link{
    float: left;
    width: 195px;
}

.get-started-tips ul li a{
    color: orange;
    text-decoration: none;
}

#flash{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

div.decission-container{
    clear: both;
    border: 1px solid gray;
    width: 542px;
    margin-bottom: 15px;
}

div.decission-box{
    float: left;
    display: inline-block;
    width: 255px;
    padding: 5px;
}

div.decission-seperator{
    float: left;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border-left: 1px solid gray;
    height: 110px;
}

.edit-profile{
    background-color: #EBE6E1;
    border: 1px solid #888888;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    padding: 10px;
    width: 370px;
}

.edit-profile .sections{
    margin: -10px -10px 0px -10px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.edit-profile .sections .section{
    border-right: 1px solid white;
    display: inline-block;
    width: 105px;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

.edit-profile .sections .section.last{
    border-right: 0px;
}

.edit-profile .sections .section.inactive{
    color: gray;
    cursor: pointer;
}

img{
    border: 0px;
}

.page-banner{
    position: relative;
    margin: -12px -12px 20px;
}

.page-banner label{
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    color: white;
    font-size: 45px;
    font-style: italic;
}
