#new_medical_instruction{

}

#new_medical_instruction .save-progress{
    background-color: #6E6E6C;
    height: 46px;
    border-radius: 2px;
}

#new_medical_instruction .save-progress .title{
    float: left;
    padding: 15px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}

#new_medical_instruction .save-progress .button-container{
    float: right;
    background-color: #7B7B79;
    margin-right: 8px;
    border-radius: 2px;
    margin-top: 11px;
}

#new_medical_instruction .save-progress .button-container .last-saved{
    float: left;
    padding-right: 12px;
    padding-left: 8px;
    padding-top: 3px;
    font-size: 10px;
    color: #ccc;
}

#new_medical_instruction .save-progress .button-container .button{
    float: right;
    height: 24px;
    width: 146px;
    border-radius: 2px;
    font-size: 11px;
}

#new_medical_instruction .save-progress .button-container .button input{
    background-color: #F8F8F8;
    border: 0px;
    width: 146px;
    height: 24px;
    border-radius: 2px;
}

#new_medical_instruction .save-progress .button-container .button input:hover{
    cursor: pointer;
    background-color: #ccc;
}

#new_medical_instruction .tab-menu{
    height: 40px;
    margin-top: 4px;
}

#new_medical_instruction .tab-menu .tab{
    float: left;
}

#new_medical_instruction .tab-menu .tab.active{
    height: 41px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 0px;
    border-left: 0px;
}

#new_medical_instruction .tab-menu .tab .number{
    float: left;
    width: 47px;
    height: 28px;
    margin-top: 5px;
    background-color: #407FA8;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding-top: 8px;
    margin-right: 1px;
    cursor: pointer;
    position: relative;
}

#new_medical_instruction .tab-menu .tab .number .complete{
    position: absolute;
    left: 50%;
    width: 14px;
    height: 12px;
    top: -8px;
    margin-left: -6px;
}

#new_medical_instruction .tab-menu .tab.active .number .complete{
    width: 18px;
    height: 15px;
    top: -5px;
    margin-left: -7px;
}

#new_medical_instruction .tab-menu .tab .number .complete img{
    width: 16px;
}

#new_medical_instruction .tab-menu .tab.active .number .complete img{
    width: 16px;
}

#new_medical_instruction .tab-menu .tab.active .number{
    float: left;
    width: 45px;
    height: 28px;
    margin-top: 0px;
    background-color: #6E6E6C;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding-top: 12px;
    cursor: default;
    margin-left: -1px;
}

#new_medical_instruction .tab-menu .tab.active .number.first{
    margin-left: 0px;
    width: 44px;
}

#new_medical_instruction .tab-menu .tab .title{
    float: left;
    font-weight: bold;
    color: #6E6E6C;
    padding-left: 8px;
    padding-top: 12px;
    width: 245px;
    height: 28px;
    display: none;
}


#new_medical_instruction .tab-menu .tab.active .title{
    display: block;
}


#new_medical_instruction .tab-menu .tab .number.end{
    float: left;
    width: 162px;
    height: 27px;
    margin-top: 5px;
    background-color: #407FA8;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding-top: 9px;
    margin-right: 1px;
    cursor: pointer;
}

#new_medical_instruction .tab-menu .tab.active .number.end{
    display: none;
}

#new_medical_instruction .tab-menu .tab .title-end{
    float: left;
    font-weight: bold;
    color: #6E6E6C;
    padding-left: 8px;
    padding-top: 12px;
    display: none;
}

#new_medical_instruction .tab-menu .tab.active .title-end{
    display: block;
    background-color: #6E6E6C;
    color: #fff;
    height: 28px;
    width: 406px;
    margin-left: -1px;
}

#new_medical_instruction .content{
    border: 1px solid #CCCCCC;
    border-top: 0px;
    margin-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
}

#new_medical_instruction .content.review{
    position: relative;
    padding-bottom: 48px;
}

#new_medical_instruction .content.review .review-submit{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #4080A6;
    width: 653px;
    height: 47px;
}

#new_medical_instruction .content.review .review-submit .authorize-time{
    float: left;
    color: #ddd;
    font-size: 10px;
    padding-left: 30px;
    padding-top: 15px;
}

#new_medical_instruction .content.review .review-submit .authorize-submit{
    float: right;
    padding-right: 15px;
    padding-top: 7px;
}


#sharing-rules{
}


#sharing-rules .relationship{
    margin-bottom: 25px;
}

#sharing-rules .relationship .name{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

#sharing-rules .relationship .notice{
    padding-left: 3px;
    margin-bottom: 5px;
}

#sharing-rules .relationship .sharing-rules{

}

#sharing-rules .relationship .sharing-rules .share-more-button{
    text-align: center;
    font-size: 14px;
    width: 100px;
    border: 1px solid #888;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

#sharing-rules .relationship .sharing-rules .share-more-button:hover{
    background-color: #ddd;
}

#sharing-rules .add-family-button{
    text-align: center;
    font-size: 18px;
    width: 230px;
    border: 1px solid #888;
    background-color: #ccc;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#sharing-rules .add-family-button:hover{
    background-color: #ddd;
}

#sharing-rules a{
    background-color: transparent;
    color: #333;
    text-decoration: none;
}

#sharing-rules input.age{
    width: 50px;
}

#sharing-rules .action input{
    text-align: center;
    font-size: 12px;
    border: 1px solid #888;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    height: 22px;
    padding-top: 2px;
    border-radius: 0px;
    width: 60px;
    cursor: pointer;
}

#sharing-rules .action .link{
    text-align: center;
    font-size: 12px;
    border: 1px solid #888;
    background-color: #ccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    margin-top: 2px;
}

#sharing-rules .action .link a{
    color: #000;

}

#sharing-rules .action input:hover, #sharing-rules .action .link:hover{
    background-color: #ddd;
}

#plans{
}

#plans .own-plans{
    margin-bottom: 20px;
}

#plans .parent-plans{
    margin-bottom: 20px;
}

#plans .title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

#plans .plan-link{
    font-size: 16px;
    margin-bottom: 5px;
}






/*

General

Typography

Structure

---------------------------  */






/* General
---------------------------  */


div.clear {
    clear: both;
}

textarea { overflow: auto; }


/* Typography
---------------------------  */

#new_medical_instruction {
    font-family: Arial;
}


#new_medical_instruction .content {
    color: #898989;
}

#new_medical_instruction .content h2 {
    font-size: 18px;
    color: #407FA6;
}

#new_medical_instruction .content p {
    font-size: 12px;
    line-height: 1.7em;
    font-weight: 600;
}

#new_medical_instruction .content h3, #new_medical_instruction div.user_agreed {
    font-weight: bold;
    font-size: 14px;
}

#new_medical_instruction div.user_agreed {
    color: #505050;
}

#new_medical_instruction .content h3{
    color: #757575;
}

#new_medical_instruction .last_saved div.info {
    font-size: 10px;
    color: #C9C9C7;
}

#new_medical_instruction div.dynamic_bordered_box {
    color: #505050;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    margin-top: 8px;
}

#new_medical_instruction div.form label {
    color: #505050;
    font-size: 11px;
}

#new_medical_instruction div.dynamic_bordered_box div.inspiration div.examples div.example{
    font-size: 12px;
    line-height: 33px;
}

#new_medical_instruction div.dynamic_bordered_box div.inspiration {
    font-size: 10px;
}

#new_medical_instruction div.dynamic_bordered_box ul li {
    font-size: 11px;
}

#new_medical_instruction div.dynamic_bordered_box div.explain {
    font-size: 10px;
}

.content div.highlighted_point {
    line-height: 40px;
}

.content div.highlighted_point .point {
    color: #ffffff;
    font-size: 18px;
}

.content div.highlighted_point .text {
    font-weight: bold;
    color: #417FA8;
    font-size: 13px;
}

.content div.highlighted_point .control_buttons{
    line-height: normal;
}

.content div.highlighted_point .control_buttons .edit_button{
    color: #6B6B6B;
    font-weight: bold;
    font-size: 13px;
    line-height: 27px;
}


.content div.highlighted_point .control_buttons .edit_button a{
    text-decoration: none;
    color: #6B6B6B;
}

.content div.highlighted_point .control_buttons .completion .status {
    /*    color: #929292;*/
    color: #6D6D6D;
    font-size: 11px;
    font-weight: bold;
}

.content div.highlighted_point .control_buttons .completion .long_text {
    font-size: 10px;
}


.content div.user_status{
    line-height: 57px;
    font-size: 13px;
    font-weight: bold;
    color: #505050;
}
.content div.multiline {
    line-height: normal;
    font-size: 11px;
    font-weight: bold;
}


.content div.user_status span.green {
    color: #00C13C;
}

.content div.user_status span.red {
    color: #FD0000;
}

.content div.user_infromation div.single_information div.info_name {
    font-size: 11px;
    font-weight: bold;
    color: #6D6D6D;
}

.content div.user_infromation div.single_information div.info_value {
    font-size: 15px;
    font-weight: bold;
    color: #00C13C;
}

.content div.user_infromation div.single_information div.red {
    color: #FD0000;
}

.content div.highlighted_point .with_text {
    font-size: 12px;
    font-weight: bold;
}


/* Structure
---------------------------  */


/*body {
    background: gray;
}
#new_medical_instruction {
    background: white;  temp 
    width: 654px;
    padding: 23px;
    width: 700px;
}

cccccc

#new_medical_instruction .content {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 26px 16px 25px;
    width: 622px;
}*/

#new_medical_instruction .content h2  {
    margin: 0;
}

#new_medical_instruction .content h2.inside_page  {
    margin-top:  20px;
}

#new_medical_instruction .content h3 {
    margin-top: 25px;
    margin-bottom: 2px;
}

#new_medical_instruction .content p.first {
    margin-top: 3px;
}

#new_medical_instruction div.bordered_box {
    border: 1px solid #cccccc;
    height: 44px;
    width: 602px;
    background: transparent url('../images/strip.png') repeat-x top left;
}

#new_medical_instruction div.bordered_box div.aggreed_input {
    display: inline-block;
    float: right;
    background: transparent url('../images/divider.png') no-repeat top left;
    height: 24px;
    width: 140px;
    padding-top: 13px;
    padding-left: 40px;
    position: relative;
}

#new_medical_instruction div.bordered_box div.aggreed_input .checkbox{
    position: absolute;
    top: 13px;
    right: 92px;
}

#new_medical_instruction div.user_agreed .text{
    display: inline-block;
    float: left;
    width: 402px;
    margin: 13px 0px 12px 18px;
}

#new_medical_instruction .last_saved {
    width: 654px;
    height: 48px;
    background-color: #6E6E6C;
    margin-top: 5px;
    border-radius: 3px;
}


#new_medical_instruction .last_saved div.save_progress_button {
    float: right;
    width: 146px;
    height: 24px;
    margin: 10px 10px 10px 0px;
}

#new_medical_instruction .last_saved div.info {
    background-color: #7B7B79;
    border-radius: 3px;
    float: right;
    padding: 6px;
    margin: 10px 0;
}

#new_medical_instruction div.dynamic_bordered_box {
    border: 1px solid #CCCCCC;
    padding: 18px 20px 18px 16px;
    background-color: #F9F9F9;
}

#new_medical_instruction div.dynamic_bordered_box .title {
    width: 530px;
    margin-bottom: 27px;
}

#new_medical_instruction div.dynamic_bordered_box div.inspiration div.examples div.example{
    width: 105px;
    height: 37px;
    background: transparent url('../images/example.png') no-repeat;
    float: left;
    margin-left: 13px;
    margin-top: 15px;
}

#new_medical_instruction div.dynamic_bordered_box div.inspiration div.examples div.first{
    margin-left: 0px;
}


#new_medical_instruction div.dynamic_bordered_box div.inspiration div.examples div.example span{
    margin-left: 13px;
}

#new_medical_instruction div.dynamic_bordered_box div.inspiration {
    margin-bottom: 20px;
}

#new_medical_instruction div.dynamic_bordered_box ul {
    margin-top: -18px;
}

#new_medical_instruction div.dynamic_bordered_box div.explain {
    margin-left: 25px;
    margin-bottom: 20px;
}

#new_medical_instruction div.dynamic_bordered_box div.top_bottom_border {
    border-top: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

img.aditional_agent {
    margin-top: 12px;
}

.content div.user_status{
    height: 57px;
    padding-left: 15px;
}

.content div.multiline{
    margin-top: 12px;
}

.content div.user_infromation {
    margin: 20px 0;
}

.content div.user_infromation div.single_information {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 2px;
    padding-left: 15px;
    /*    border: 1px solid green;*/
}

.content div.user_infromation div.single_information .divider {
    float: left;
    height: 26px;
    width: 1px;
    margin: 10px 21px 0 64px;
    padding: 0px;
    overflow: hidden;
}

.content div.user_infromation div.single_information .single {
    float: left;
    display: inline-block;
    width: 250px;
    /*    border: 1px solid red;*/
}


.content div.user_infromation div.single_information div.info_name {
    padding-top: 6px;
}

.content div.user_infromation div.single_information div.info_name ul {
    margin-top: 0px;
    padding-left: 25px;
}

.content div.user_infromation div.single_information div.info_value {
    margin-top: 3px;
}





/* highlighted points
-------------------------------------------------------------- */

.content div.highlighted_point {
    height: 40px;
    width: 620px;
    border: 1px solid #CCCCCC;
}

.content div.highlighted_point .point, .content div.highlighted_point .text {
    display: inline-block;
    float: left;
    height: 40px;
}


.content div.highlighted_point .point {
    background: #407FAA;
    width: 26px;
    text-align: center;
}

.content div.highlighted_point .with_text {
    width: 85px;
}

.content div.highlighted_point .text {
    margin-left: 10px;
}

.content div.highlighted_point .control_buttons {
    display: inline-block;
    float: right;
    height: 40px;
    /*    border: 1px solid green;*/
    /*    width: 340px;*/
}

.content div.highlighted_point .control_buttons .edit_button{
    float: left;
    height: 25px;
    border: 1px solid #cccccc;
    padding: 0 18px;
    /*    width: 20px;*/
    /*    padding-left: 9px;*/
    margin-top: 7px;
}

.content div.highlighted_point .control_buttons div.divider {
    float: left;
    height: 35px;
    width: 1px;
    /*    border: 1px solid blueviolet;*/
    margin: 5px 10px 0px;
    padding: 0px;
    overflow: hidden;

}


.content div.highlighted_point .control_buttons .completion {
    float: left;
    /*    width: 150px;*/
    /*    border: 1px solid red;*/
    height: 30px;
    margin-right: 12px;
}


.content div.highlighted_point .control_buttons .completion .completion_image {
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-left: 5px;
    height: 25px;
    width: 27px;
}

.content div.highlighted_point .control_buttons .completion .completion_image .yes{
    width: 27px;
    height: 24px;
    background: url('/images/checked.png');
}

.content div.highlighted_point .control_buttons .completion .completion_image .no{
    width: 24px;
    height: 25px;
    background: url('/images/unchecked.png');
}

.content div.highlighted_point .control_buttons .completion .status {
    float: left;
    display: inline-block;
    margin-top: 14px;
    margin-right: 2px;
}


/* form
-------------------------------------------------------------- */



#new_medical_instruction div.form label {
    display: block;
    margin-bottom: 8px;
}

#new_medical_instruction div.form input.long, #new_medical_instruction div.form textarea.long{
    width: 580px;
}

#new_medical_instruction div.form textarea.note{
    height: 170px;
}



#new_medical_instruction div.form input.medium{
    width: 285px;
}

#new_medical_instruction div.form input.small{
    width: 170px;
}

#new_medical_instruction div.form input, #new_medical_instruction div.form textarea, #new_medical_instruction div.form select {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

#new_medical_instruction div.form textarea {
    height: 87px;
}

#new_medical_instruction div.form input[type="text"], #new_medical_instruction div.form select {
    height: 26px;
}

#new_medical_instruction div.form select {
    width: 110px;
}

#new_medical_instruction div.form div.single_input {
    margin-bottom: 10px;
}

#new_medical_instruction div.form div.single_row div.single_input {
    float: left;
    margin-left: 5px;
}

#new_medical_instruction div.form div.single_row div.single_input.first {
    float: left;
    margin-left: 0px;
}






/*  general - by khaled
--------------------------------------------  */
#body-container .body-content .content-container{
    min-height: 450px;
}

.content-container a{
    color:  #444444;
}

.content-container .extra_links {
    margin-left: 10px;
}

/*  signin and account create form - comon terms
-------------------------------------------------------------------  */

form.new_user_common {
    margin-bottom: 8px;
    margin-top: 26px;
    margin-left: 9px;
}

form.new_user_common label {
    color: #444444;
    font-size: 15px;
    display: block;
    margin-bottom: 2px;
}

form.new_user_common label.inline {
    display: inline;
}

form.new_user_common input[type=email], form.new_user_common input[type=password],
form.new_user_common input[type=text] {
    height:  30px;
    width: 290px;
    border: 1px solid #D7D7D7;
    padding-left: 10px;
    font-size: 15px;
}

form.new_user_common input#checkbox {
    margin-left: 0px;
    margin-right: 7px;
}

form.new_user_common .single-field {
    margin-bottom: 8px;
}


/*   sign in form
------------------------------------------ */


/*form.sign_in .single-field {
    margin-bottom: 8px;
}*/



/*  Create new account form
---------------------------------------------*/

form.create_account select {
    height:  33px;
    border: 1px solid #D7D7D7;
    padding-top: 5px;
    font-size: 15px;
}


form.create_account .top-margin {
    margin-top: 14px;
}

form.create_account .create_button_container {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


form.create_account select#user_gender {
    width: 290px;
    line-height: 33px;

}

form.create_account .single-row {
    width: 100%;
    margin-bottom: 1px;
}

form.create_account .single-row .single-field{
    float: left;
}

form.create_account .single-row .last{
    float: right;
}


/*  Edit user form
---------------------------------------------*/
form.edit_user {
    font-family: Verdana, Arial;
    font-size: 14px;
    color: #3a3a3a;
    width: 560px;
    margin-top: 0px;
}



form.edit_user .single-row {
    margin-bottom: 10px;
}


form.edit_user .single-row .attribute-name {
    display: inline-block;
    float: left;
    width: 75px;
    height: 25px;
    padding-top: 5px;
}

form.edit_user .single-row .form-input-fields {
    float: left;
    display: none;
    width: 418px;
    padding-left: 58px;
}

form.edit_user .single-row .text {
    display: inline-block;
    float: left;
    padding-left: 55px;
    width: 330px;
    height: 25px;
    padding-top: 5px;
}

form.edit_user .single-row .change-link {
    float: right;
    height: 25px;
    padding-top: 5px;
    margin-right: 10px;
    color: #377fac;
    display: inline-block;
}

form.edit_user .single-row .change-link a{
    color: #377fac;
    text-decoration: none;
}


form.edit_user .single-row .form-input-fields input[type=text],
form.edit_user .single-row .form-input-fields input[type=password] {
    width: 185px;
    height: 26px;
}

form.edit_user .single-row .form-input-fields select {
    height: 26px;
}



form.edit_user .single-row .form-input-fields .top-field {
    margin-bottom: 20px;
}

form.edit_user .single-row .last {
    float: left;
    margin-left: 17px;
}

form.edit_user div.save_change_button_container {
    width: 100%;
    text-align: right;
    margin-top: 43px;
    display: none;
}

form.edit_user .single-row .single-field {
    float: left;
    width: 198px;
    margin-bottom: 0px;
}

form.edit_user .single-row .long-field {
    width: 300px;
}



/* contact_us form
-------------------------------------------------------------- */
form.contact_us {
    font-family: Verdana;
    margin-left: 10px;
}

form.contact_us div.single-row{
    /* border: 1px solid red;*/
    width: 660px;
    margin-bottom: 15px;
}

form.contact_us div.message {
    /* border: 1px solid green;*/
    width: 320px;
    float: right;
    font-family: Verdana;
    font-size: 12px;
    color: #f80000;
}

form.contact_us div.date-input {
    margin-bottom: 23px;
}

form.contact_us div.multi-row {
    /* border: 1px solid green;*/
    width: 660px;
}



form.contact_us div.long-margin {
    margin-bottom: 20px;
}

form.contact_us div.send_button_container {
    /* border: 1px solid yellowgreen;*/
    width: 635px;
    text-align: right;
    margin-top: 17px;
    margin-bottom: 5px;
}

form.contact_us div.single-row input[type=text],
form.contact_us div.multi-row input[type=text],
form.contact_us div.multi-row textarea{
    border: 1px solid #d7d7d7;
    padding-left: 12px;
    width: 276px;
    height: 24px;
    float: left;
}

form.contact_us div.multi-row input[type=text],
form.contact_us div.multi-row textarea {
    display: inline-block;
    float: none;
    margin-bottom: 10px;
}

form.contact_us div.multi-row textarea {
    width: 617px;
    padding-top: 2px;
}

form.contact_us div.multi-row textarea.low-height {
    height: 52px;
}

form.contact_us div.multi-row textarea.medium-height {
    height: 120px;
}

form.contact_us div.single-row input[type=text].short-length {
    width: 86px;
}

form.contact_us div.single-row input[type=text].last {
    margin-left: 52px;
}

form.contact_us div.single-row input[type=text].short-length.last {
    margin-left: 8px;
}

form.contact_us div.single-row label {
    border: 1px solid blue;
    font-size: 14px;
    color: #3a3a3a;
    margin-right: 27px;
}

form.contact_us div.single-row div.label {
    /* border: 1px solid blue;*/
    font-size: 14px;
    color: #3a3a3a;
    margin-right: 27px;
    width: 70px;
    display: inline-block;
}


form.contact_us div.long-label {
    /* border: 1px solid blue;*/
    font-size: 16px;
    margin-bottom: 8px;
}

form.contact_us div.single-row select {
    width: 200px;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    border: 1px solid #d7d7d7;
    line-height: 28px;
    font-family: Verdana;
    font-size: 14px;
    color: #3a3a3a;
}

form.contact_us div.last-info {
    margin-top: 30px;
}


/* Plan Shearing Rules-------------------------------------------------------------- */
#body-container .body-content-large {
    float: right;
    width: 960px;
    z-index: 1;
}

#body-container .body-content-large .title-container {
    background: url("/images/content_title_container_large.png") repeat scroll 0 0 transparent;
    height: 164px;
}

#body-container .body-content-large .title-container .row-1 {
    height: 33px;
    padding-left: 20px;
    padding-right: 27px;
    padding-top: 15px;
}

#body-container .body-content-large .title-container .row-1 .title {
    color: #FFFFFF;
    float: left;
    font-family: "Lustria";
    font-size: 24px;
}

#body-container .body-content-large .title-container .row-2 {
    height: 58px;
    padding-top: 35px;
}

#body-container .body-content-large .title-container .row-2 .content {
    color: #065C92;
    font-family: OpenSans;
    font-size: 18px;
    margin-left: 20px;
    padding-top: 5px;
}

#body-container .body-content-large .title-container .row-1 .tips {
    float: right;
}

#body-container .body-content-large .title-container .row-1 .tips .link {
    float: left;
    margin-right: 5px;
}

#body-container .body-content-large .title-container .row-1 .tips .link a {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 10px;
}

#body-container .body-content-large .title-container .row-1 .tips .icon {
    float: right;
}

#body-container .body-content-large .shairing-container {
    min-height: 450px;
    background-color: #FFFFFF;
    margin-left: 2px;
    min-height: 500px;
    padding: 23px;
    width: 955px;
}



/* ------------------------------------------------------------ */


#body-container .body-content-large div.shairing-container {
    /* width: 700px;*/
    padding-left: 0px;
    padding-right: 0px;
}

div.shairing-container div.box-container {
    width: 100%;

}

div.shairing-container div.box-container div.box {
    float: left;
    margin-left: 12px;
    width: 177px;
}

div.shairing-container div.box-container div.box div.box-title{
    background-color: #d9e6ef;
    height: 30px;
    font-family: Verdana;
    font-size: 13px;
    color: #000000;
}

div.shairing-container div.box-container div.box div.box-title img{
    float: left;
    margin-top: 4px;
}

div.shairing-container div.box-container div.box div.box-title div.title-content {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
}

div.shairing-container div.box-container div.box div.box-content {
    color: #111111;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 20px 0;
}

div.shairing-container div.box-container div.box div.box-button {
    border: 1px solid #aaaaaa;
    font-family: Arial;
    font-size: 10px;
    color: #565656;
    display: inline-block;
    padding: 9px 14px 8px 17px;
    line-height: 7px;
    background: url('/images/button-stripe.png') repeat-x;
    border-radius: 3px;
}

div.shairing-container div.box-container div.box div.box-button a {
    text-decoration: none;
    color: #555;
}




div.shairing-container .big-button-container {
    /*    border: 1px solid blue;*/
    width: 955px;
    margin-top: 83px;
    text-align: center;    
}

div.shairing-container .big-button-container-tiny{
    margin-top: 30px;
    text-align: center;
}

div.shairing-container .big-button-container .share-button{
    float: left;
    width: 660px;
}

div.shairing-container .big-button-container .download-button{
    float: left;
    width: 250px;
    margin-top: 28px;
}


div.shairing-container .big-button-container .button-text {
    font-family: Arial;
    font-size: 16px;
    color: #111111;
    margin-bottom: 10px;
}

div.shairing-container .big-button-container .big-button {
    width: 573px;
    height: 31px;
    padding-top: 8px;
    background: url('/images/long-button.png') no-repeat;
    margin: 0 auto;
    font-family: Arial;
    font-size: 17px;
    color: #ffffff;
}

div.shairing-container .big-button-container .big-button a {
    text-decoration: none;
    font-family: Arial;
    font-size: 17px;
    color: #ffffff;
}

div.shairing-container .user-image-container {
    /*    border: 1px solid gold; */
    margin-top: 40px;
    margin-left: 80px;

}

div.shairing-container .user-image-container .relation-entry{
    margin-right: 80px;
    float: left;
}

div.shairing-container .user-image-container .blank-image{
    margin-right: 90px;
}

div.shairing-container .user-image-container .relation-entry .info{
    height: 100px;
    line-height: 120%;
    margin-top: 20px;
}

div.shairing-container .user-image-container .relation-entry .info a{
    color: #000;
    text-decoration: none;
    background-color: #D9E6EF;
    padding: 2px;
}

div.shairing-container .user-image-container .add-more{
    float: left;
    margin-left: -60px;
    margin-top: 160px;
}


div.back-link{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: #eee;
    width: 150px;
    text-align: center;
}

div.back-link a{
    text-decoration: none;
    color: #333;
}




/* relationhips/new popup
--------------------------------------------------  */

.popup-container{
    /*    border: 1px solid red;*/
    width: 615px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.popup-container .blue-bg-title {
    width: 619px;
    height: 45px;
    background: url('/images/blue_bar.png') no-repeat;
    background-size: 100%;
    margin-left: -2px;
}

.popup-container .outer-box{
    border-left: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    padding-bottom: 15px;
}

.popup-container .header-txt {
    font-family: Verdana;
    font-size: 13px;
    color: #14669a;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.popup-container form.new_relationships .top-form {
    /*    border: 1px solid red;*/
}


.popup-container form.new_relationships .top-form .user-image {
    float: left;
    margin-left: 25px;
}

.popup-container form.new_relationships .top-form .form-content {
    /*    border: 1px solid green;*/
    float: left;
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    margin-left: 70px;
}

.popup-container form.new_relationships .bottom-form {
    /*    border: 1px solid blue;*/
    font-family: Verdana;
    font-size: 13px;
    color: #333333;
    padding-left: 20px;
}

.popup-container form.new_relationships .bottom-form .share-plan-sections {
    /*    border: 1px solid red;*/
    float: left;
}

.popup-container form.new_relationships .bottom-form .share-plan-sections .bottom-buttons-container{
    /*    border: 1px solid blueviolet;*/
    /*    position: relative;*/
    left: 10px;
    width: 179px;
    margin-top: 15px;
}

.popup-container form.new_relationships .bottom-form .scheduled-sharing-section {
    /*    border: 1px solid green;*/
    float: left;
    margin-left: 15px;
    width: 370px;
}

.popup-container form.new_relationships .bottom-form .scheduled-sharing-section .single-line {
    /*    border: 1px solid gold;*/
    width: 373px;
    /*    margin-bottom: 4px;*/
    margin-bottom: 18px;
}

.popup-container form.new_relationships .bottom-form .scheduled-sharing-section .sharing-button {
    margin-top: 3px;
}

.popup-container form.new_relationships .bottom-form .scheduled-sharing-section .single-line input[type=text] {
    width: 60px;
    height: 28px;
}

.popup-container form.new_relationships .bottom-form .scheduled-sharing-section .single-line input[type=checkbox] {
    float: right;
    margin-right: 0px;
}

.popup-container form.new_relationships .bottom-form .share-plan-sections h3,
.popup-container form.new_relationships .bottom-form .scheduled-sharing-section h3{
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 14px;
    color: #202020;
    font-weight: normal;
}

.popup-container form.new_relationships .bottom-form .share-plan-sections h3 {
    margin-bottom: 30px;
}

.popup-container form.new_relationships .bottom-form .scheduled-sharing-section h3{
    margin-bottom: 25px;
}

.popup-container form.new_relationships .bottom-form .share-plan-sections .single-topic {
    /*    float: left;*/
    width: 175px;
    margin-bottom: 5px;
}

.popup-container form.new_relationships .bottom-form .share-plan-sections .single-topic input[type=checkbox] {
    /*    margin-left: 30px;*/
    float: right;
}

form.new_relationships input[type=text],
form.new_relationships select{
    border: 1px solid #d7d7d7;
    width: 175px;
    height: 30px;
    padding-left: 5px;
    padding-top: 4px;
}

form.new_relationships select {
    font-family: Verdana;
    font-weight: normal;
    font-size: 14px;
    color: #565656;
    line-height: 14px;
}

form.new_relationships .single-row {
    margin-bottom: 12px;
}

form.new_relationships .single-row .single-field {
    float: left;
    margin-left: 20px;
}

form.new_relationships .single-row .single-field.first {
    margin-left: 0px;
}

form.new_relationships .single-row .single-field .label {
    font-family: Verdana;
    font-size: 13px;
    color: #3a3a3a;
    line-height: 11px;
    margin-bottom: 4px;
}




/* memorial/new
--------------------------------------------------------- */
#body-container .body-content .title-container-thin {
    background: url("/images/content_title_container_thin.png") repeat scroll 0 0 transparent;
    height: 81px;
}

#body-container .body-content .title-container-thin .row-1 {
    height: 33px;
    padding-left: 20px;
    padding-right: 27px;
    padding-top: 15px;
}

#body-container .body-content .title-container-thin .row-1 .title {
    color: #FFFFFF;
    float: left;
    font-family: "Lustria";
    font-size: 24px;
}

#body-container .body-content .content-container-thin {
    min-height: 450px;
    background-color: #FFFFFF;
    margin-left: 2px;
    padding: 0px 23px 23px 23px;
    width: 654px;
}

#body-container .body-content form.memorial {

}

#body-container .body-content form.memorial div.field {

}

#body-container .body-content form.memorial div.field label{
    font-family: verdana;
    font-size: 14px;
    color: #3a3a3a;
    display: block;
}

#body-container .body-content form.memorial div.field input[type=text],
#body-container .body-content form.memorial div.field textarea{
    display: block;
    margin-top: 9px;
    border: 1px solid #d7d7d7;
    height: 28px;
    width: 444px;
}

#body-container .body-content form.memorial div.field textarea {
    height: 52px;
}

#body-container .body-content form.memorial .submit_button {
    margin-top: 10px;
}



/************************************************************************************/
/*********                       Possesions                               ***********/
/************************************************************************************/
#possessions{
    min-height: 200px;
    padding-bottom: 60px;
    position: relative;
}

#possessions .title{
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    background-color: #6E6E6C;
    width: 300px;
    height: 29px;
    padding-top: 14px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#possessions .title.small{
    width: 200px;
    font-size: 14px;
}

#possessions .heading{
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #787878;
    padding-left: 20px;
    border: 1px solid #ccc;
    height: 32px;
    padding-top: 13px;
    background: url('/images/table_head_strip.png');
}

#possessions .heading span{
    padding-left: 100px;
}

#possessions .row{
    border: 1px solid #ccc;
    border-top: 0px;
    height: 41px;
    font-family: Arial;
    font-size: 13px;
}

#possessions .row .category, #possessions .row .item{
    border-right: 1px solid #ccc;
    float: left;
    padding-top: 10px;
    height: 31px;
}

#possessions .row .category{
    width: 100px;
    text-align: center;
}

#possessions .row .item{
    width: 419px;
    padding-left: 15px;
}

#possessions .row .link-container{
    float: left;
    padding-top: 7px;
    padding-left: 5px;

}

#possessions .row .link-container .link{
    float: left;
    margin-right: 3px;
    margin-left: 3px;
    width: 45px;
    text-align: center;
    padding-top: 4px;
    height: 21px;
    border: 1px solid #aaa;
    border-radius: 2px;
    background: url('/images/table_head_strip.png');
    background-position: bottom;
}

#possessions .row .link-container .link a{
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
    color: #6D6D6D;
}


#possessions .category-select{
    border: 1px solid #ccc;
    border-top: 0px;
    height: 40px;
    position: relative;
    display: none;
}

#possessions .category-select .label{
    padding-left: 20px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #787878;
    padding-top: 12px;
    width: 200px;
    float: left;
}

#possessions .category-select .value{
    float: left;
    padding-top: 10px;
}

#possessions .category-select .select{
    float: right;
    padding-right: 6px;
    padding-top: 7px;
    cursor: pointer;
}

#possessions .category-select .drop-down{
    position: absolute;
    right: 0px;
    top: 40px;
    border: 1px solid #ccc;
    width: 262px;
    background-color: #fff;
    display: none;
}

#possessions .category-select .drop-down .drop-item{
    padding-left: 8px;
    color: #7b7b7b;
    font-family: Arial;
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 2px;
    cursor: pointer;
}

#possessions .category-select .drop-down .drop-item:hover{
    color: #fff;
    background-color: #3C57A7;
}


#possessions .new-item-form{
    border: 1px solid #ccc;
}

#possessions .new-item-form .field{
    border-bottom: 1px solid #ccc;
    margin-bottom: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#possessions .new-item-form .field .label{
    width: 200px;
    padding-left: 10px;
    float: left;
}

#possessions .new-item-form .field .input-field{
    float: left;
}

#possessions .new-item-form .field input{
    width: 430px;
    font-family: Arial;
    font-size: 13px;
}

#possessions .new-item-form .field input.file{
    width: 330px;
}

#possessions .new-item-form .field select{
    width: 435px;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
}

#possessions .new-item-form .field textarea{
    font-family: Arial;
    font-size: 13px;
    width: 430px;
    height: 50px;
}

#possessions .new-item-form .actions{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#possessions .new-item-form .actions input{
    width: 170px;
    background-color: #eee;
    border: 1px solid #787878;
    border-radius: 2px;
    cursor: pointer;
}

#possessions .new-item-form .actions input:hover{
    background-color: #fff;
}

#possessions .add-new-button{
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}


/********************************************************************************/
/********                         real-estate-show                        *******/
/********************************************************************************/

#real-estate-show-container{
    border: 3px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    padding: 2px;
    background-color: #D3DDDC;
}

#real-estate-show{
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}

#real-estate-show a{
    color: #000;
}

/*******************************************************************************/
/*****                       will-and-trust                                    */
/*******************************************************************************/

#will-and-trust{

}

#will-and-trust .instructions{
    width: 510px;
    font-family: Arial;
    font-size: 15px;
}


#will-and-trust .form .field{
    margin-bottom: 20px;
}

#will-and-trust .form .field label{
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}

#will-and-trust .form .field textarea{
    width: 650px;
    height: 50px;
    border: 1px solid #D7D7D7;
}

#will-and-trust .form .actions{

}


#will-and-trust .form .actions input{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Arial;
    font-size: 15px;
    background-color: #F2F2F2;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    cursor: pointer;
}

#will-and-trust .form .actions input:hover{
    background-color: #fff;
}

#will-and-trust .title{
    margin-top: 50px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
}

#will-and-trust .list{
    border-top: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
}

#will-and-trust .list .row{
    border-bottom: 1px solid #D7D7D7;
    height: 38px;
    font-family: Arial;
    font-size: 14px;
    padding-top: 3px;
}

#will-and-trust .list .row .comment{
    width: 445px;
    padding-left: 5px;
    padding-right: 10px;
}

#will-and-trust .list .row .link{
    padding-left: 70px;
}

#will-and-trust .list .row .link .link-box{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Arial;
    font-size: 12px;
    background-color: #F2F2F2;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
}

#will-and-trust .list .row .link .link-box:hover{
    background-color: #fff;
}

#will-and-trust .list .row .link .link-box a{
    text-decoration: none;
    color: #6B6B6B;
}


/***************************************************************************/
/************                    Payment                         ***********/
/***************************************************************************/


#payment-container .instructions{
    font-family: Arial;
    font-size: 15px;
    color: #555;
}

#payment-container .instructions span.outer{
    text-decoration: line-through;
    color: red;
}

#payment-container .instructions span.inner{
    color: #555;
}

#payment-container .form{
    margin-top: 0px;
}

#payment-container .form .row{
    margin-bottom: 10px;
}


#payment-container .form .row .field{
    float: left;
    width: 295px;
}

#payment-container .form .row .field.last{
    float: right;
}

#payment-container .form .row .field label{
    font-size: 14px;
    font-family: Arial;
}

#payment-container .form .row .field input{
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    font-family: Arial;
    border: 1px solid #D7D7D7;
    border-radius: 0px;
    margin-top: 5px;
}

#payment-container .form .row .field input.long{
    width: 285px;
}

#payment-container .form .row .field input.small{
    width: 120px;
    margin-left: 40px;
}

#payment-container .form .row .field select.small{
    width: 120px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    font-family: Arial;
    border: 1px solid #D7D7D7;
    border-radius: 0px;
}

#payment-container .form .row.action{
    margin-top: 40px;
}

/*#payment-container .form .row.action input{
    font-size: 13px;
    font-family: Arial;
    width: 130px;
    border: 1px solid #D7D7D7;
    padding-top: 5px;
    padding-bottom: 5px;
    background: url('/images/table_head_strip.png');
    background-position: left bottom;
    color: #6B6B6B;
    cursor: pointer;
}

#payment-container .form .row.action input:hover{
    background-color: #fff;
}*/

#payment-container .form .row.action input.right{
    margin-left: 120px;
}

#payment-container .form .row.action input.rightred{
    color: #F44949;
    margin-left: 120px;
}

#payment-container #stripe-error-message.error{
    color: red;
}