<% relationships = current_user.families if type == 'family' %>
<% relationships = current_user.friends if type == 'friend' %>
<div class="fnf-list">
  <% if relationships.present? %>
    <% relationships.each_with_index do |relationship, index| %>
      <div class="relation-entry">
        <%= "#{index+1}. #{relationship.full_name}" %>
        <%= link_to 'View', relationship_path(relationship.id) %>
      </div>
    <% end %>
  <% else %>
  You have not created any <%= type %>
  <% end %>

</div>