<div class="title-container">
  <div class="row-1">
    <div class="title">
      <%= title unless (defined?(title)).nil? %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="row-2">
    <div class="content">
      <%= heading unless (defined?(heading)).nil? %>
    </div>
    <%#*<div class="clear"></div>%>
  </div>
</div>