<div id="header">
  <div id="header_img">
    <img src="images/logo.png"/>
  </div>
  <div id="header_right">
    <a herf="" style="margin-right: 10px">My Account</a> <a herf=" ">Sign out</a>
  </div>
</div>