<div class="save-progress">
  <div class="title">
    <%= title unless (defined?(title)).nil? %>
  </div>
  <div class="button-container">
    <div class="last-saved">
      LAST SAVED 3/16/2012 AT 1:45 AM
    </div>
    <div class="button">
      <% button_id = 'save_progress_button_bottom' if (defined?(button_id)).nil? %>
      <%= submit_tag('SAVE PROGRESS', :id => button_id) %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>