<table>
  <tr>
    <td>Name</td>
    <td><%= current_user.full_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><%= current_user.location %></td>
  </tr>
  <tr>
    <td>Relationship status</td>
    <td><%= current_user.relationship_status %></td>
  </tr>
</table>
