<%= render :partial => 'shared/body_content_top_without_menu',
  :locals => { :title => 'Contact Us',
  :heading => 'Send us comments, suggestions, or notifications'} %>

<div class="content-container">
   <%= render 'form' %>
</div>