<h2>YOUR END OF LIFE INSTRUCTIONS</h2>
<p>
The treatment instructions you create will help your agent and your doctors understand your wishes and provide what you would have wanted.
</p>
<p>
Frequently it is helpful to you put your wishes in your own words. Even if you don’t understand all the medical or legal terms. Even a few sentences can help your agent understand your philosophy behind your End of Life Instructions.
  </p>

<%= render 'form' %>

<%= link_to 'Back', medical_instructions_path %>
