<%= render :partial => 'shared/body_content_top_thin',
  :locals => { :title => 'Memorial'}
%>

<div class="content-container-thin">
  <div class="instructions">
    You can store a copy of your memorial plan here.<br/>
    It will be stored on our server, and will be included as part of your plan<br/>
    when you share or download it.
  </div>
  <%= render 'form' %>
</div>